.card-today {
	@extend %card;
	padding: 30px 31px 26px 25px;

	&:hover {
		background-color: var(--light-card-hover);
		cursor: pointer;
	}

	&__heading {
		font-size: var(--overview-card-heading);
		color: var(--light-gray-text);
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: end;

		&:first-of-type {
			margin-bottom: 34px;
			align-items: center;
		}
	}

	&__number {
		font-size: 32px;
	}

	&__percentage {
		@include stat(start);
	}
}
