.card {
	--radius: 4px;

	position: relative;
	padding: 32px 0 24px;
	border-radius: var(--radius);
	font-weight: var(--fw-700);
	text-align: center;
	background-color: var(--light-card-bg);

	&:hover {
		background-color: var(--light-card-hover);
		cursor: pointer;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		height: var(--radius);
		border-radius: var(--radius) var(--radius) 0 0;
	}

	&--facebook::before {
		background: var(--facebook);
	}
	&--twitter::before {
		background: var(--twitter);
	}
	&--instagram::before {
		background: var(--instagram);
	}
	&--youtube::before {
		background: var(--youtube);
	}

	&__heading {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 9px;
		margin-bottom: 30px;
		font-size: 12px;
		color: var(--light-gray-text);
	}
	&__icon {
		font-weight: var(--fw-400);
		&::first-letter {
			text-transform: uppercase;
		}
	}

	&__num-followers {
		display: block;
		margin-bottom: 16px;
		font-size: 60px;
	}

	&__text-followers {
		display: block;
		margin-bottom: 30px;
		text-transform: uppercase;
		font-weight: var(--fw-400);
		font-size: 14px;
		letter-spacing: 6px;
		color: var(--light-gray-text);
	}

	&__followers-today {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 4px;
		font-size: 12px;

		&--positive {
			color: var(--lime-green);
		}
		&--negative {
			color: var(--bright-red);
		}
	}
}
