.card-today {
	@extend %card;
	padding: 30px 31px 26px 25px;

	&__heading {
		font-size: var(--overview-card-heading);
		color: var(--text-light);
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: end;

		&:first-of-type {
			margin-bottom: 34px;
			align-items: center;
		}
	}

	&__number {
		font-size: 32px;
	}

	&__growth-percentage {
		justify-content: start;
	}
}
