.switch {
	display: flex;
	justify-content: end;
	width: 48px;
	height: 24px;
	padding: 3px 4px;
	border-radius: 12px;
	position: relative;
	background: var(--togle);

	&:hover {
		cursor: pointer;
		body:not(dark) & {
			background: var(--togle-hover);
		}
	}

	&.active {
		.switch__circle {
			transform: translateX(calc((100% + 4px) * -1));
		}
	}

	&__circle {
		width: 18px;
		height: 18px;
		border-radius: 50%;
		background-color: var(--header-bg);
		transition: transform 0.25s ease-out;
	}
}
