@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
	font-family: var(--ff-inter);
	font-weight: var(--fw-400);
	color: var(--light-black-text);
}

h1 {
	font-size: 26px;
}
