@mixin from($bp) {
	@if map-has-key($breakpoints, $bp) {
		@media screen and (min-width: map-get($breakpoints, $bp)) {
			@content;
		}
	}
}

%card {
	--radius: 4px;

	border-radius: var(--radius);
	font-weight: var(--fw-700);
	background-color: var(--card-bg);
	@extend %transition;

	&:hover {
		background-color: var(--card-hover);
		transition: none;
		cursor: pointer;
	}
}

%transition {
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in;
}
