.container {
	width: 90%;
	max-width: 325px;
	margin: 0 auto;

	@include from(s) {
		width: 80%;
		max-width: 460px;
	}
	@include from(m) {
		max-width: 700px;
	}
	@include from(l) {
		width: 90%;
		max-width: 100%;
	}
	@include from(xl) {
		max-width: 1000px;
	}
	@include from(xxl) {
		width: 80%;
		max-width: 1112px;
	}
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
}
