.header {
	padding: 40px 0 60px 0;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	background-color: var(--header-bg);
	@extend %transition;

	@include from(m) {
		padding-bottom: 155px;

		&__container {
			display: flex;
			justify-content: space-between;
		}
	}

	&__heading {
		margin-bottom: 14px;
		color: var(--text-color);
	}

	&__followers,
	.switch-container__text {
		font-weight: var(--fw-700);
		color: var(--text-light);
	}

	&__switch-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 25px;
		padding: 16px 0;
		border-top: 1px solid var(--text-light);

		@include from(m) {
			justify-content: end;
			gap: 14px;
			margin-top: 0;
			padding: 0;
			border-top: none;
		}
	}
}
